
 .cards{
    border-radius: 20px !important;
 }
 
 .s{
   border:1px solid red;
   min-height: 400px;
 }
 .logo {
  height: 15em;
  width: 15em;
  will-change: filter;
  transition: filter 300ms;
   
}