/* Container styles */
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

/* Background overlay */
.login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./src/assets/bg.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(50%) blur(8px);
}

/* Card container */
.card {
  width: 100%;
  max-width: 400px;
  border-radius: 30px !important;
  padding: 20px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.95);
}

/* Logo image responsive styling */
.logo {
  display: block;
  margin: 0 auto;
  width: 15em;
  max-width: 100%;
  height: auto;
  transition: filter 300ms;
}

/* Input icons spacing */
.input-icon {
  margin-right: 15px;
}

/* General typography adjustments */
body,
input,
button,
label {
  font-size: 1rem;
}

/* Responsive adjustments for tablets and smaller devices */
@media (max-width: 600px) {
  .card {
    margin: 10px;
    padding: 15px;
    max-width: 90%;
  }
  .logo {
    width: 10em;
  }
  body,
  input,
  button,
  label {
    font-size: 0.9rem;
  }
}

/* Responsive adjustments for very small devices */
@media (max-width: 400px) {
  .card {
    padding: 10px;
  }
  body,
  input,
  button,
  label {
    font-size: 0.8rem;
  }
}

/* Forgot Password Modal Styles */
.forgot-password-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  outline: none;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (max-width: 450px) {
  .forgot-password-modal {
    width: 90%;
  }
}

/* Modal Close Button */
.close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Centering modal content */
.modal-center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* Modal title styling */
.forgot-title {
  margin-top: 5px;
  font-weight: bold;
}

/* Verification text styling */
.verify-text {
  text-align: left;
  margin-bottom: 10px;
  font-size: 14px;
  color: gray;
}

/* Email input spacing */
.email-input {
  margin-bottom: 15px;
}

/* Modal action buttons positioning */
.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  gap: 10px;
}
